<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteWiki">
<parameter name="Navegador" value="CHORME"></parameter>
  <test thread-count="5" name="Test">
  	<groups>
  		<run>
  			<include name="Regristrar Alojamiento"></include>
  			<include name="Validar pagina Wiki"></include>
  		</run>
  	</groups>
  <classes>
  	<class name="com.selenium.pages."></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
